/* gloabl related */
body {
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: _drhg_,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
	margin: 0;
	/* font-family: sans-serif; */
	/* font-family: "Nunito", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	/* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
	/* monospace; */
	font-family: _drhg_,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	/* font-family: "Nunito", sans-serif; */
}


/* andt related */
.ant-layout {
	height: 100%;
	padding: 2%;
	background: #ffffff
}

.ant-list-split .ant-list-header {
	border-bottom: none;
}

.ant-list-sm .ant-list-item {
	padding: 12px 0px;
}

.ant-avatar {
	background: #00000030;
}

.ant-avatar.ant-avatar-icon {
	font-size: 25px;
}

.ant-list-empty-text {
	/* display: none; */
	text-align: left;
	padding: 0px;
}

.nector-wallet-hero-image {
	background-image:
    linear-gradient(to top, rgba(245, 246, 252, 0.12), rgba(19, 117, 112, 0.73)), url('https://res.cloudinary.com/esternetwork/image/upload/v1617247310/nector/images/illustrator/wallethero.jpg');
    width: 100%;
    height: 10%;
    background-size: cover;
    color: white;
	padding: 20px;
}

.ant-card-body {
	padding: 14px;
}

.ant-tag {
	margin-left: 5px;
	margin-right: 0px;
}