/* gloabl related */
body {
	font-family: 'Poppins', sans-serif !important;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Poppins', sans-serif !important;
}

/* for inline iframe resize */
html, body {
	height: unset !important;
	width: unset !important;
}

/* andt related */
.ant-layout {
	height: 100%;
	padding: 2%;
	background: #ffffff 
}

.ant-calendar-input-wrap {
	display: none;
}

.ant-drawer-content {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	height: 100%;
	overflow-y: "scroll";
}

.ant-drawer-content-wrapper {
	height: unset;
	min-height: 80%;
	height: 80%;
}

.ant-drawer-body {
	padding: 14px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top: 4px solid #eeeeee;
}

.backspace-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.wallet-point-design {
	background: rgb(238, 238, 238);
	color: #000;
	border-radius: 10px;
	padding: 5px 10px;
	width: fit-content;
	cursor: pointer;
	text-align: center;
	// box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	// -webkit-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	// -moz-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	font-size: 0.9em;
	font-weight: 700;
}

.coupon-design {
	background: rgb(238, 238, 238);
	color: #000;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	-webkit-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	-moz-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	font-size: 0.9em;
	font-weight: 700;
}

.text_yellow {
	color: rgb(255, 165, 0);
}

.text_white {
	color: white;
}

.ant-list-split .ant-list-header {
	border-bottom: none;
}

.ant-list-sm .ant-list-item {
	padding: 12px 0px;
}

.ant-avatar {
	background: #00000030;
}

.ant-avatar.ant-avatar-icon {
	font-size: 0.9em;
}

.anticon {
	vertical-align: unset;
}

.ant-list-empty-text {
	text-align: center;
	font-size: 0.7em;
	padding: 0px;
	color: #00000080;
}

.ant-modal-body {
	padding: 0px;
}

.ant-card-body {
	padding: 14px;
	overflow: hidden;
}

.ant-tag {
	margin-left: 0px;
	margin-right: 0px;
}

.ant-list-split .ant-list-item {
	border-bottom: 1px solid #ffffff;
}

.ant-typography + h1.ant-typography, .ant-typography + h2.ant-typography, .ant-typography + h3.ant-typography, .ant-typography + h4.ant-typography, .ant-typography + h5.ant-typography {
    margin-top: 0.5em;
}

.ant-list-split.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
	border: 0px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background-color: #ddd;
}

.react-ripples {
	width: 100%;
}

.nector-card {
	/* background-image:
	linear-gradient(360deg,rgba(0,0,0,.1) 0,rgba(0, 0, 0, 0.5)), url(''); */
	background-color: transparent;
	width: 100%;
	// min-height: 15em;
	background-size: cover;
	color: white;
	padding: 20px;
	/* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%); */
}

.nector-category-card {
	width: 150px;
	background-color: #eeeeee;
	// background-size: cover;
	// color: #eeeeee;
	padding: 8px;
	margin-right: 8px;
	// border-radius: 10px;
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
}

.nector-home-card {
	// background: #000000;
	// background-color: transparent;
	width: 100%;
	background-size: cover;
	// color: #eeeeee;
	padding: 20px;
	border-radius: 10px;
	border: 4px solid #eeeeee;
	box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
}

.nector-home-card-text {
    font-family: 'Lato';
    font-weight: 700;
    background: rgba(#000, .85);
    padding: .08em 1rem;
    box-decoration-break: clone;
}

.nector-dealstore-card, .nector-discountstore-card {
	width: 100%;
	color: white;
	padding: 20px;
	background: linear-gradient(-45deg, #e94e1f, #300fa8, #23a6d5, #23d5ab, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.nector-discountstore-card {
	background: linear-gradient(-45deg, #23a6d5, #23d5ab, #e94e1f, #300fa8, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite 1s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nector-marketplace-card {
	/* background-image:
	linear-gradient(360deg,rgba(0,0,0,.1) 0,rgba(0, 0, 0, 0.5)), url(''); */
	background-color: #000;
	width: 100%;
	// min-height: 15em;
	background-size: cover;
	color: white;
	padding: 20px;
	/* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%); */
}

.nector-icon {
	font-size: 1.4em;
	color: rgb(255, 255, 255);
	/* border-radius: 100%; */
	/* border: 3px solid #ffffff52; */
	/* padding: 0.2em; */
	/* background: #00000030; */
}

.nector-profile-row-top {
	font-size: 1em;
	padding: 10px;
	color: #000000;
	border-top: 1px solid #00000030;
	border-bottom: 1px solid #00000030;
}

.nector-profile-row {
	font-size: 1em;
	padding: 10px;
	color: #000000;
	border-bottom: 1px solid #00000030;
}

.nector-profile-row-bottom {
	font-size: 1em;
	padding: 10px;
	color: #000000;
}

.nector-blur-icon {
	filter: blur(8px);
  	-webkit-filter: blur(8px);
}

.nector-position-relative {
	position: relative!important;
}

/* @media (max-width: 425px) {
	.nector-shape {
		bottom: -4px;
	}
} */

.nector-shape {
	position: absolute;
	pointer-events: none;
	right: 0;
	bottom: -4px;
	left: 0;
}

.nector-showcase-home {
	box-shadow: 2px 3px 17px -12px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 3px 17px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 17px -12px rgba(0,0,0,0.75);
}

.nector-overflow-hidden {
	overflow: hidden!important;
}

.nector-horizontal-list .ant-list-items {
	display: flex;
	overflow-x: auto;
}

.nector-horizontal-list .ant-list-items::-webkit-scrollbar {
	display: none;
}

.nector-horizontal-list .ant-list-split .ant-list-item {
	border-bottom: none
}

.nector-horizontal-list .ant-list-sm .ant-list-item {
	padding: 0px;
}

.nector-ant-image-img .ant-image-img {
	width: auto;
}

.nector-shape > svg {
	-webkit-transform: scale(2);
	transform: scale(2);
	width: 100%;
	height: auto;
	-webkit-transform-origin: top center;
	transform-origin: top center;
}

.nector-category ul {
	list-style: none;
}

.nector-category li {
	display: inline;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

.ant-modal-content {
	width: 391px;
	margin-left: 10%;
}

.ant-modal-body .ant-card-body {
	height: 100%;
	padding: 0px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
	display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.referral-code-modal .ant-modal-content {
	border-radius: 10px;
	overflow: hidden;
}

.hide_collapse_panel > .ant-collapse-header {
	display: none;
}

.referral-code-collapse-panel {
	border-bottom: none !important;
}

.referral-code-collapse-panel .ant-collapse-header {
	display: flex;
	align-items: center;
	padding-left: 20px !important;
}

.referral-code-collapse-panel .ant-collapse-extra {
	margin-left: auto;
}

/* Utils */

.center-all {
	display: flex;
	justify-content: center;
	align-items: center;
}

.truncate-text {
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
	.ant-modal-content {
		width: 360px;
		margin-left: 0px;
	}
}

/* antd xs */
@media only screen and (max-width: 575px) {
	.reviews-sorter {
		width: 100%;
		margin-top: 15px;
	}
}

/* antd sm */
@media only screen and (min-width: 576px) {
	.reviews-sorter {
		width: 125px;
		margin-left: auto;
		margin-top: 15px;
		font-size: 12px;
	}
}

/* antd md */
@media only screen and (min-width: 768px) {
	.reviews-sorter {
		margin-top: 0px;
	}
}

/* antd ld */
@media only screen and (min-width: 992px) {

}