/* gloabl related */
:root {
	--g-text-color: white;
}

body {
	// font-family: 'Poppins', sans-serif !important;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	// font-family: 'Poppins', sans-serif !important;
}

/* for inline iframe resize */
html,
body {
	height: unset !important;
	width: unset !important;
}

/* andt related */
.ant-layout {
	height: 100%;
	padding: 2%;
	background: #ffffff
}

.ant-calendar-input-wrap {
	display: none;
}

.ant-drawer-content {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	height: 100%;
	overflow-y: "scroll";
}

.ant-drawer-content-wrapper {
	height: unset;
	min-height: 75%;
	height: 75%;
}

.nector-signup-drawer .ant-drawer-content-wrapper {
	height: unset;
	min-height: 25%;
	height: 25%;
}

.ant-drawer-body {
	padding: 14px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top: 4px solid #eeeeee;
}

.ant-list-split .ant-list-header {
	border-bottom: none;
}

.ant-list-sm .ant-list-item {
	padding: 12px 0px;
}

.ant-avatar {
	background: #00000030;
}

.ant-avatar.ant-avatar-icon {
	font-size: 100%;
}

.anticon {
	vertical-align: unset;
}

.ant-list-empty-text {
	text-align: center;
	font-size: 75%;
	padding: 0px;
	color: #00000080;
}

.ant-modal-body {
	padding: 0px;
}

.ant-card-body {
	padding: 14px;
	overflow: hidden;
}

.ant-tag {
	margin-left: 0px;
	margin-right: 0px;
}

.ant-list-split .ant-list-item {
	border-bottom: 1px solid #ffffff;
}

.ant-typography+h1.ant-typography,
.ant-typography+h2.ant-typography,
.ant-typography+h3.ant-typography,
.ant-typography+h4.ant-typography,
.ant-typography+h5.ant-typography {
	margin-top: 0.5em;
}

.ant-list-split.ant-list-something-after-last-item .ant-spin-container>.ant-list-items>.ant-list-item:last-child {
	border: 0px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background-color: #ddd;
}

.ant-collapse-content > .ant-collapse-content-box {
	padding: 0px;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

.ant-modal-content {
	width: 391px;
	margin-left: 10%;
}

.ant-modal-body .ant-card-body {
	height: 100%;
	padding: 0px;
}

.nector-backspace-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nector-wallet-point-design {
	background: rgb(238, 238, 238);
	color: #000;
	border-radius: 6px;
	padding: 5px 10px;
	width: fit-content;
	cursor: pointer;
	text-align: center;
	font-size: 100%;
	font-weight: 700;
}

.nector-coupon-design {
	background: rgb(238, 238, 238);
	color: #000;
	border-radius: 6px;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	box-shadow: 9px 2px 20px -7px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow: 9px 2px 20px -7px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 9px 2px 20px -7px rgba(0, 0, 0, 0.22);
	font-size: 100%;
	font-weight: 700;
}

.nector-card {
	/* background-image:
	linear-gradient(360deg,rgba(0,0,0,.1) 0,rgba(0, 0, 0, 0.5)), url(''); */
	background-color: transparent;
	width: 100%;
	// min-height: 15em;
	background-size: cover;
	color: white;
	padding: 20px;
	/* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%); */
}

.nector-category-card {
	width: 150px;
	background-color: #eeeeee;
	// background-size: cover;
	// color: #eeeeee;
	padding: 8px;
	margin-right: 8px;
	border: 1px solid rgb(221, 221, 221);
	box-shadow: rgb(0 0 0 / 20%) 3px 5px 30px -10px;
	-webkit-box-shadow: rgb(0 0 0 / 20%) 3px 5px 30px -10px;
	-moz-box-shadow: rgb(0 0 0 / 20%) 3px 5px 30px -10px;
}

.nector-home-card {
	// background: #000000;
	// background-color: transparent;
	width: 100%;
	background-size: cover;
	// color: #eeeeee;
	padding: 20px;
	border-radius: 6px;
	border: 1px solid rgb(221, 221, 221);
	box-shadow: rgb(0 0 0 / 20%) 3px 5px 30px -10px;
	-webkit-box-shadow: rgb(0 0 0 / 20%) 3px 5px 30px -10px;
	-moz-box-shadow: rgb(0 0 0 / 20%) 3px 5px 30px -10px;
}

/* Customize Antd List Item */

.nector-list-item .ant-list-item-meta-avatar {
	height: 90px;

	align-self: stretch;
	background-color: transparent;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 12px;
}

.nector-list-item .ant-list-item-meta-avatar .ant-avatar img {
	object-fit: contain;
	background-color: #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.nector-marketplace-card {
	/* background-image:
	linear-gradient(360deg,rgba(0,0,0,.1) 0,rgba(0, 0, 0, 0.5)), url(''); */
	background-color: #000;
	width: 100%;
	// min-height: 15em;
	background-size: cover;
	color: white;
	padding: 20px;
	/* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%); */
}

.nector-icon {
	font-size: 100%;
	color: rgb(255, 255, 255);
	background: "#eee";
	color: "#000";
	border-radius: 6px;
}

.nector-profile-row-top {
	padding: 10px 0px;
	color: #000000;
	border-top: 1px solid #00000030;
	border-bottom: 1px solid #00000030;
}

.nector-profile-row {
	padding: 10px 0px;
	color: #000000;
	border-bottom: 1px solid #00000030;
}

.nector-profile-row-bottom {
	padding: 10px 0px;
	color: #000000;
}

.nector-blur-icon {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.nector-position-relative {
	position: relative !important;
}

.nector-shadow-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	padding: 5px 8px;
	background-color: white;
	box-shadow: 2px 2px 15px -4px rgba(0,0,0,0.31);
	cursor: pointer;
}

/* @media (max-width: 425px) {
	.nector-shape {
		bottom: -4px;
	}
} */

.nector-shape {
	position: absolute;
	pointer-events: none;
	right: 0;
	bottom: -4px;
	left: 0;
}

.nector-showcase-home {
	box-shadow: 2px 3px 17px -12px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 3px 17px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 3px 17px -12px rgba(0, 0, 0, 0.75);
}

.nector-overflow-hidden {
	overflow: hidden !important;
}

.nector-horizontal-list .ant-list-items {
	display: flex;
	overflow-x: auto;
}

.nector-horizontal-list .ant-list-items::-webkit-scrollbar {
	display: none;
}

.nector-horizontal-list .ant-list-split .ant-list-item {
	border-bottom: none
}

.nector-horizontal-list .ant-list-sm .ant-list-item {
	padding: 0px;
}

.nector-ant-image-img .ant-image-img {
	width: auto;
}

.nector-shape>svg {
	-webkit-transform: scale(2);
	transform: scale(2);
	width: 100%;
	height: auto;
	-webkit-transform-origin: top center;
	transform-origin: top center;
}

.nector-category ul {
	list-style: none;
}

.nector-category li {
	display: inline;
}

.nector-hide-collapse-panel>.ant-collapse-header {
	display: none;
}

.nector-referral-code-collapse-panel {
	border-bottom: none !important;
}

.nector-referral-code-collapse-panel .ant-collapse-header {
	display: flex;
	align-items: center;
	padding-left: 20px !important;
}

.nector-referral-code-collapse-panel .ant-collapse-extra {
	margin-left: auto;
}

.nector-truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
	display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Timeline */

.nector-timeline .ant-timeline-item-head-custom {
	background-color: transparent;
}

.nector-timeline .ant-timeline-item-head-blue, .nector-timeline .ant-timeline-item-head {
	border-color: transparent;
}

.nector-timeline>.step {
	display: flex;
	position: relative;
}

.nector-timeline>.step:not(:last-child) {
	margin-left: 2px;
}

.nector-timeline>.step::after {
	content: "";
	position: absolute;
	left: 4px;
	top: 9px;
	height: 0;
	width: 1px;
	background-color: var(--g-text-color);
}

.nector-timeline>.step:not(:last-child)::after {
	height: calc(100% - 9px);
}

.nector-timeline>.step>.circle {
	width: 9px;
	height: 9px;
	background-color: transparent;
	border-radius: 50%;
	border: 2px solid var(--g-text-color);
	flex-shrink: 0;
}

.nector-timeline>.step:last-child>.circle {
	width: 12px;
	height: 12px;
	background-color: transparent;
	border-radius: 50%;
	border: 2px solid var(--g-text-color);
	flex-shrink: 0;
}

/* Collect Review Container */

.nector-collectreview-container {
	margin: 0 auto;
}

.nector-title {
	font-weight: bolder;
	font-size: 150%;
}

.nector-subtitle {
	font-weight: bold;
	font-size: 125%;
}

.nector-text {
	font-weight: normal;
	font-size: 100%;
}

.nector-pretext {
	font-weight: lighter;
	font-size: 85%;
}

.nector-subtext {
	font-weight: lighter;
	font-size: 75%;
}

// Utilities

.nector-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.ant-modal-content {
		width: 360px;
		margin-left: 0px;
	}
}

.nector-powered-by-text {
	color: black !important;
}

.nector-powered-by-text a {
	color: inherit !important;
	text-decoration: underline !important;
}

.nector-reviews-heading-container .nector-reviews-powered-by-text {
	position: absolute;
	top: 5px;
	right: 15px;
}

/* Rewards Page (Mobile Styles) */
/* Bigger screen styles in the media queries below */

// Common
.nector-rewards-page-container {
	text-align: center;
	word-wrap: break-word;
}

.nector-rewards-section {
	padding: 40px 30px;
}

.nector-rewards-pagination {
	margin-top: 15px;
	margin-bottom: 15px;
}

.nector-rewards-pagination .ant-pagination-item {
	border: none !important;
	background-color: transparent !important;
}

.nector-rewards-pagination .ant-pagination-prev, .nector-rewards-pagination .ant-pagination-next {
	display: none !important;
}

.nector-rewards-collapse-panel {
	border-bottom: none !important;
}

.nector-rewards-collapse-panel .ant-collapse-header {
	display: none;
}

.nector-rewards-collapse-panel .ant-collapse-extra {
	margin-left: auto;
}

// Banner
.nector-rewards-banner img {
	width: 100%;
}

// User info section
.nector-rewards-user-info-collapse {
	align-self: stretch;
	overflow: hidden;

	margin-top: 30px;
}

.nector-rewards-collapse {
	overflow: hidden;
}

.nector-rewards-user-info {
	flex-direction: column;
}

.nector-rewards-user-info-coins {
	flex-direction: column;
}

.nector-rewards-user-info-coins-title {
	margin-top: 5px !important;
}

.nector-rewards-user-info-btns {
	margin-top: 10px;
	flex-wrap: wrap;
	gap: 25px;
}

.nector-rewards-wallettransaction-item, .nector-rewards-coupon-item {
	padding: 15px !important;
	text-align: left;
}

.nector-rewards-coupon-item-description-container .nector-subtext {
	display: block;
	margin-top: 10px;
	cursor: pointer;
}

.nector-rewards-coupon-item {
	align-items: flex-start;
}

.nector-rewards-coupon-item .content {
	margin-top: 2px;
}

.nector-rewards-coupon-item-coupon-text {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	margin-top: 10px;
	padding: 5px 8px;
	border: 2px dashed #ddd;
	background-color: #eee;
	color: black;
}

// Steps Section
.nector-rewards-steps {
	background-color: #eee;

	flex-direction: column;
	text-align: center;
}

.nector-rewards-steps-items {
	width: 95%;
	margin-top: 15px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nector-rewards-steps-item {
	flex: 0 0 100%;
	margin: 20px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.nector-rewards-steps-item .nector-rewards-steps-item-step {
	width: 60px;
	height: 60px;
	border-radius: 50%;

	margin-bottom: 15px;
	font-size: 175%;
}

// Earn Section
.nector-rewards-earn {
	flex-direction: column;
}

.nector-rewards-earn-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	row-gap: 15px;

	width: 95%;
	margin-top: 20px;

	text-align: center;
}

.nector-rewards-earn-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 0 0 48%;
	position: relative;

	padding: 40px 15px;

	border: 1px solid #ddd;
	border-radius: 4px;
}

.nector-rewards-earn-item-title {
	font-size: 16px !important;
}

.nector-rewards-earn-item-icon {
	width: 60px;
	height: 60px;
	font-size: 150%;
	border-radius: 50%;
	overflow: hidden;

	margin-bottom: 15px;
}

.nector-rewards-earn-item-icon img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.nector-rewards-earn-login-overlay {
	opacity: 0;
	max-height: 0;
	overflow: hidden;

	flex-direction: column;
	gap: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;

	background-color: rgba(40, 40, 40, 0.95);

	transition: all 0.3s;
}

.nector-rewards-earn-login-overlay .ant-typography {
	color: white !important;
}

.nector-rewards-earn-login-overlay > .close-button {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 120%;
	z-index: 120;
}

.nector-rewards-earn-login-overlay.force-show {
	padding: 15px;
	max-height: 9999px;
	opacity: 1;
}

@media (hover: hover) {
	.nector-rewards-earn-item:hover .nector-rewards-earn-login-overlay, .nector-rewards-earn-login-overlay.force-show {
		padding: 15px;
		max-height: 9999px;
		opacity: 1;
	}
}

.nector-rewards-earn-item-completed-icon {
	position: absolute;
	top: 5px;
	right: 15px;

	font-size: 150%;
}

// Redeem section
.nector-rewards-redeem {
	flex-direction: column;
	background-color: #eee;
}

.nector-rewards-redeem-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 95%;
	margin-top: 30px;
}

.nector-rewards-redeem-item-container {
	flex: 0 0 100%;
	margin-bottom: 25px;
	display: flex;

	perspective: 1000px;
}

.nector-rewards-redeem-item {
	flex: 0 0 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	position: relative;

	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.nector-rewards-redeem-item.flip {
	transform: rotateY(180deg);
}

.nector-rewards-redeem-item .nector-rewards-redeem-item-front-side {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.nector-rewards-redeem-item .nector-rewards-redeem-item-back-side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.nector-rewards-redeem-item-front-side, .nector-rewards-redeem-item-back-side {
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	align-self: stretch;

	flex: 1 0 auto;

	padding: 25px;
	padding-bottom: 0px;

	border-radius: 8px;
	box-shadow: 0px 4px 29px -13px rgba(0,0,0,0.41);
	-webkit-box-shadow: 0px 4px 29px -13px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 4px 29px -13px rgba(0,0,0,0.41);
	
	background-color: white;
	mask-image: radial-gradient(circle at left 15px bottom 55px, transparent 15px, red 15.5px);
	mask-position: -15px;
	-webkit-mask-image: radial-gradient(circle at left 15px bottom 55px, transparent 15px, red 15.5px);
	-webkit-mask-position: -15px;
}

.nector-rewards-redeem-item-back-side {
	overflow: auto;
	transform: rotateY(180deg);
}

.nector-rewards-redeem-item.multiplier .nector-rewards-redeem-item-front-side, .nector-rewards-redeem-item.multiplier .nector-rewards-redeem-item-back-side {
	mask-image: radial-gradient(circle at left 15px bottom 90px, transparent 15px, red 15.5px);
	mask-position: -15px;
	-webkit-mask-image: radial-gradient(circle at left 15px bottom 90px, transparent 15px, red 15.5px);
	-webkit-mask-position: -15px;
}

.nector-rewards-redeem-item-back-side {
	padding: 15px;
}

.nector-rewards-redeem-item-desc-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
}

.nector-rewards-redeem-item-btns-container {
	align-self: stretch;
	padding: 0 30px;

	margin-top: 30px;
	margin-bottom: 10px;
}

.nector-rewards-redeem-item-btns-container .ant-slider-with-marks {
	margin-bottom: 20px;
}

.nector-rewards-redeem-item-coins {
	font-size: 100%;
}

.nector-rewards-redeem-item .dashed-line {
	position: absolute;
	border-top: 2px dashed #ddd;
	bottom: 55px;
	left: 10%;
	right: 10%;
}

.nector-rewards-redeem-item.multiplier .dashed-line {
	bottom: 90px;
}

@media (hover: hover) {
	.nector-rewards-redeem-item:hover .nector-rewards-earn-login-overlay {
		padding: 15px;
		max-height: 9999px;
		opacity: 1;
	}
}

.nector-rewards-redeem-item .info-icon {
	position: absolute;
	right: 15px;
	top: 15px;
}

.nector-rewards-redeem-item-description-modal .ant-modal-content {
	margin: 0 auto !important;
}

.nector-rewards-redeem-item-description-container {
	text-align: left;
	padding: 5px 15px;
}

.nector-rewards-redeem-button {
	margin-top: 20px;
	text-align: center;
}

/* antd xs */
@media only screen and (max-width: 575px) {
	.nector-reviews-heading-container h4 {
		margin-top: 20px;
	}

	.nector-reviews-heading-container .nector-reviews-powered-by-text {
		right: 50%;
		transform: translateX(50%);
	}

	.nector-reviews-sorter {
		width: 100%;
		margin-top: 15px;
	}
}

/* antd sm */
@media only screen and (min-width: 576px) {
	.nector-reviews-sorter {
		width: 125px;
		margin-left: auto;
		margin-top: 15px;
		font-size: 75%;
	}

	.nector-collectreview-container {
		margin: 1em auto;
	}

	.nector-rewards-user-info-collapse {
		width: 500px;
		margin: 0 auto;
		margin-top: 30px;
	}
}

/* antd md */
@media only screen and (min-width: 768px) {
	.nector-reviews-sorter {
		margin-top: 0px;
	}

	/* Rewards Page */

	// Common
	.nector-rewards-section {
		padding: 50px 30px;
	}

	.nector-rewards-user-info {
		padding: 40px 30px;
	}

	// Steps Section
	.nector-rewards-steps-items {
		width: 95%;
		margin-top: 30px;
	}

	.nector-rewards-steps-item {
		flex: 0 0 32%;
		margin: unset;
	}

	.nector-rewards-earn-item-title {
		font-size: 20px !important;
	}


	// Earn Section
	.nector-rewards-earn-items {
		row-gap: 40px;

		width: 90%;
		margin-top: 50px;
	}

	.nector-rewards-earn-item-icon {
		width: 80px;
		height: 80px;
		font-size: 180%;
	}

	// Redeem section
	.nector-rewards-redeem-items {
		width: 90%;
	}

	.nector-rewards-redeem-item-container {
		flex: 0 0 48%;
	}

	.nector-rewards-redeem-item-coins {
		font-size: 120%;
	}

	.nector-rewards-redeem-button {
		margin-top: 40px;
	}
}

/* antd ld */
@media only screen and (min-width: 992px) {
	/* Rewards Page */

	.nector-rewards-steps-items {
		width: 85%;
	}

	.nector-rewards-earn-item {
		flex: 0 0 30%;
	}

	.nector-rewards-redeem-item-container {
		flex: 0 0 30%;
	}
}