/* gloabl related */
body {
	font-family: 'Poppins', sans-serif !important;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Poppins', sans-serif !important;
}

/* andt related */
.ant-layout {
	height: 100%;
	padding: 2%;
	background: #ffffff 
}

.ant-drawer-content {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.ant-drawer-content-wrapper {
	height: unset;
	min-height: 350px;
}

.ant-drawer-body {
	padding: 14px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top: 4px solid #eeeeee;
}

.backspace-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.wallet-point-design {
	background: rgb(238, 238, 238);
	color: #000;
	border-radius: 10px;
	padding: 5px;
	width: fit-content;
	cursor: pointer;
	text-align: center;
	box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	-webkit-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	-moz-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	font-size: 0.9em;
	font-weight: 700;
}

.coupon-design {
	background: rgb(238, 238, 238);
	color: #000;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	-webkit-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	-moz-box-shadow: 9px 2px 20px -7px rgba(0,0,0,0.22);
	font-size: 0.9em;
	font-weight: 700;
}

.text_yellow {
	color: rgb(255, 165, 0);
}

.text_white {
	color: white;
}

.ant-list-split .ant-list-header {
	border-bottom: none;
}

.ant-list-sm .ant-list-item {
	padding: 12px 0px;
}

.ant-avatar {
	background: #00000030;
}

.ant-avatar.ant-avatar-icon {
	font-size: 0.9em;
}

.anticon {
	vertical-align: unset;
}

.ant-list-empty-text {
	text-align: center;
	font-size: 0.7em;
	padding: 0px;
	color: #00000080;
}

.ant-modal-body {
	padding: 0px;
}

.ant-card-body {
	padding: 14px;
	overflow: hidden;
}

.ant-tag {
	margin-left: 0px;
	margin-right: 0px;
}

.ant-list-split .ant-list-item {
	border-bottom: 1px solid #ffffff;
}

.ant-typography + h1.ant-typography, .ant-typography + h2.ant-typography, .ant-typography + h3.ant-typography, .ant-typography + h4.ant-typography, .ant-typography + h5.ant-typography {
    margin-top: 0.5em;
}

.ant-list-split.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
	border: 0px;
}

.react-ripples {
	width: 100%;
}

.nector-card {
	/* background-image:
	linear-gradient(360deg,rgba(0,0,0,.1) 0,rgba(0, 0, 0, 0.5)), url(''); */
	background-color: transparent;
	width: 100%;
	// min-height: 15em;
	background-size: cover;
	color: white;
	padding: 20px;
	/* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%); */
}

.nector-category-card {
	width: 150px;
	background-color: #eeeeee;
	// background-size: cover;
	// color: #eeeeee;
	padding: 8px;
	margin-right: 8px;
	// border-radius: 10px;
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
}

.nector-instruction-card {
	// background: #000000;
	// background-color: transparent;
	width: 100%;
	background-size: cover;
	// color: #eeeeee;
	padding: 20px;
	border-radius: 10px;
	border: 4px solid #eeeeee;
	box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.18);
}

.nector-icon {
	font-size: 1.4em;
	color: rgb(255, 255, 255);
	/* border-radius: 100%; */
	/* border: 3px solid #ffffff52; */
	/* padding: 0.2em; */
	/* background: #00000030; */
}

.nector-blur-icon {
	filter: blur(8px);
  	-webkit-filter: blur(8px);
}

.nector-position-relative {
	position: relative!important;
}

/* @media (max-width: 425px) {
	.nector-shape {
		bottom: -4px;
	}
} */

.nector-shape {
	position: absolute;
	pointer-events: none;
	right: 0;
	bottom: -4px;
	left: 0;
}

.nector-overflow-hidden {
	overflow: hidden!important;
}

.nector-horizontal-list .ant-list-items {
	display: flex;
	overflow-x: auto;
}

.nector-horizontal-list .ant-list-items::-webkit-scrollbar {
	display: none;
}

.nector-horizontal-list .ant-list-split .ant-list-item {
	border-bottom: none
}

.nector-horizontal-list .ant-list-sm .ant-list-item {
	padding: 0px;
}

.nector-ant-image-img .ant-image-img {
	width: auto;
}

.nector-shape > svg {
	-webkit-transform: scale(2);
	transform: scale(2);
	width: 100%;
	height: auto;
	-webkit-transform-origin: top center;
	transform-origin: top center;
}

.nector-category ul {
	list-style: none;
}

.nector-category li {
	display: inline;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

.ant-modal-content {
	width: 391px;
	margin-left: 10%;
}

.ant-modal-body .ant-card-body {
	height: 100%;
	padding: 0px;
}

@media only screen and (max-width: 600px) {
	.ant-modal-content {
		width: 360px;
		margin-left: 0px;
	}
}


